<div class="sidebar-wrapper">
	<nav class="mt-2">
		<ul class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="menu"
            data-accordion="false">

			{% assign is_dashboard_active = false %}
			{% if Request.Path contains '/index' or Request.Path == '/' %}
			{% assign is_dashboard_active = true %}
			{% endif %}

			<li class="nav-item {% if is_dashboard_active %}menu-open{% endif %}">
				<a href="#" class="nav-link {% if is_dashboard_active %}active{% endif %}">
					<i class="nav-icon bi bi-speedometer"></i>
					<p>
						Dashboard
						<i class="nav-arrow bi bi-chevron-right"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="/index1" class="nav-link {% if Request.Path == '/' or Request.Path contains 'index1' %}active{% endif %}">
							<i class="nav-icon bi bi-circle"></i>
							<p>Dashboard v1</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/index2.html" class="nav-link {% if Request.Path contains 'index2.html' %}active{% endif %}">
							<i class="nav-icon bi bi-circle"></i>
							<p>Dashboard v2</p>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item">
				<a href="/generate/theme.html" class="nav-link {% if Request.Path contains 'theme.html' %}active{% endif %}">
					<i class="nav-icon bi bi-palette"></i>
					<p>Theme Generate</p>
				</a>
			</li>

			{% assign is_widgets_active = false %}
			{% if Request.Path contains '/widgets/' %}
			{% assign is_widgets_active = true %}
			{% endif %}

			<li class="nav-item {% if is_widgets_active %}menu-open{% endif %}">
				<a href="#" class="nav-link {% if is_widgets_active %}active{% endif %}">
					<i class="nav-icon bi bi-box-seam-fill"></i>
					<p>
						Widgets
						<i class="nav-arrow bi bi-chevron-right"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a href="/widgets/small-box.html" class="nav-link {% if Request.Path contains 'small-box' %}active{% endif %}">
							<i class="nav-icon bi bi-circle"></i>
							<p>Small Box</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="/widgets/info-box.html" class="nav-link {% if Request.Path contains 'info-box' %}active{% endif %}">
							<i class="nav-icon bi bi-circle"></i>
							<p>Info Box</p>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-header">DOCUMENTATION</li>

			<li class="nav-item">
				<a href="/docs/introduction.html" class="nav-link {% if Request.Path contains 'introduction' %}active{% endif %}">
					<i class="nav-icon bi bi-download"></i>
					<p>Installation</p>
				</a>
			</li>

			<li class="nav-header">LABELS</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="nav-icon bi bi-circle text-danger"></i>
					<p>Important</p>
				</a>
			</li>
		</ul>
	</nav>
</div>