<<<<<<< .mine
<div>
<caption style="color:red">{{ Message }}</caption>
<table border="2">
	
	<tr>
		<th>Name</th>
		<th>Roll</th>
	</tr>
	<tr>
		<td>Shihab</td>
		<td>101</td>
	</tr>
</table>
</div>



=======
<h2>{{ Message }}</h2>
















>>>>>>> .theirs
