<!DOCTYPE html>
<html>
<head>
    <title>My Theme</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <header><h1>Site Header</h1></header>
    
    <main>
        {{ content }}  
    </main>

    <footer>My Footer</footer>
</body>
</html>